/* Blog Css */

* {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  box-sizing: border-box;
}
body {
  flex: 1;
  background-color: #e5e5e5;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header.MuiAppBar-colorPrimary {
  background-color: #24283c;
}

ul {
  padding: 0px;
  margin: 0px;
}
li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}
.inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: rgba(255, 13, 112, 0.54);
  text-decoration: none;
}
.NavLink {
  font-weight: bold;
  Background-color: #2fbbe5;
  color: yellow;
}
li.navBorder {
  font-weight: bold;
  padding-left: 1px;
  padding-right: 1px;
}
button{
  padding: 3px;

}
a:hover {
  color: #6ea7de;
}
a {
  color:#000;
}
li.rightLi {
  float: right;
}
.mainColumn {
  float: left;
  width: 80%;
  padding: 0px;
}
.sideColumn {
  float: left;
  width: 20%;
  padding: 10px;
}

.postSection {
  border: 2px solid black;
  min-height: 165px;
  min-width: 165px;
  padding: 5px;
  margin-bottom: 10px;

}
hr.divider {
  border-top: 1px solid black;
}
img.postImage {
  float: right;
  height: 150px;
  width: 150px;
  margin-left: 5px;
  top: 0;
}
.material-icons.md-35 { font-size: 35px;  color: darkblue;}

#wide{
  display: inline;
  width: 100%;
  align-content: center;
}

footer {
  text-align: center;
  font-style: italic;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.postTitle {
  display: inline;
  font-weight: bold;
  font-size: 18px;
}
.postContent {
  height: 100%;
  text-align: justify;
  min-height: 131px;

  margin: 0px;
}

.postFooter {
  text-align: justify;
  margin-top: inherit;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;

}
.MuiAppBar-positionFixed {
  position: unset !important;
}

#switchMenu{
  position: absolute;
  right: 15px;
  bottom: -15px;
  z-index:1;
}


.form-group{
  padding: 5px;
}

.form-input{
  margin-bottom: 3px;
}

.MuiTypography-alignCenter{
  align-content: center;
  align-items: center;
  margin: 10px;
}
.makeStyles-sectionDesktop-200{
  display: grid;
}
.MuiCardContent-root{
  display: block;
}
.MuiToolbar-root {
  display: grid;
}
@media (max-width: 600px) {
  .mainColumn, .sideColumn {
    width: 100%;
    height: auto;

  }
  .makeStyles-title-44 {
    display: unset;
  }
}
